---
import '../styles/global.css';
import Sidebar from '../components/sidebar.astro';
interface Props { title?: string , cls?: string}
const { title = 'Alex Mercer',cls="" } = Astro.props;
import { ClientRouter } from "astro:transitions";
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{title}</title>
  <ClientRouter/>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
</head>
<body>
  <div class="layout">
    <Sidebar />
    <main class={"content " + cls}><slot /></main>
  </div>
</body>
</html>
